body{
  background:#000;
  color:#00ff99;
  font-family:monospace;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}
.box{
  border:1px solid #00ff99;
  padding:22px;
  width:90%;
  max-width:380px;
  text-align:center;
}
.status{color:red;margin:10px 0;}
input{
  width:95%;
  padding:10px;
  background:#000;
  color:#00ff99;
  border:1px solid #00ff99;
  margin-bottom:12px;
}
button{
  width:100%;
  padding:12px;
  background:#00ff99;
  color:#000;
  border:none;
  font-weight:bold;
  cursor:pointer;
}
.foot{font-size:11px;color:#aaa;margin-top:10px;}
